/* Start Footer */

.footer {
    background-color: #333;
    color: #EEE;
    padding: 20px
}

/* End Footer */

/* Start Single Post */

.post-page .main-post {
    position: relative;
    padding: 80px 20px 20px;
    background-color: #FFF;
    border: 1px solid #d8d8d8;
    margin-bottom: 20px;
}

.post-page .main-post .post-edit-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #EEE;
    border-radius: 0 0 0 10px
}

.post-page .main-post .post-edit-link i {
    color: #337ab7;
    margin-left: 5px
}

.post-page .main-post .post-author,
.post-page .main-post .post-date,
.post-page .main-post .post-comments {
    font-size: 12px
}

.post-page .main-post .post-content {
    line-height: 1.8;
    color: #888
}

.post-page .main-post i {
    color: #999
}

.post-page .post-pagination {
    margin: 0 auto 15px;
    overflow: hidden;
    text-align: center
}

.post-page .post-pagination a,
.post-page .post-pagination span {
    padding: 10px 20px;
    background-color: #FFF;
    border-radius: 5px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.post-page .post-pagination a:first-child,
.post-page .post-pagination span:first-child{
    float: left
}

.post-page .post-pagination a:last-child,
.post-page .post-pagination span:last-child {
    float: right
}

.post-page .post-pagination span {
    opacity: .5;
    cursor: not-allowed
}

.post-page .post-pagination .fa-chevron-right {
    margin-left: 10px
}

.post-page .post-pagination .fa-chevron-left {
    margin-right: 10px
}

.post-page .post-pagination a:hover {
    background-color: #333;
    color: #FFF;
    text-decoration: none
}

/* End Single Post */

/* Start Author Information */



/* End Author Information */

/* Start Author Page */

.author-page .profile-header {
    font-size: 60px;
    margin: 30px 0;
    color: #666;
    font-weight: bold;
    letter-spacing: -3px
}

.author-page .author-main-info {
    background-color: #FFF;
    padding: 40px 20px;
    font-size: 18px;
    border: 1px solid #dedede;
    margin-bottom: 20px
}

.author-page .author-main-info .author-names {
    line-height: 1.5;
    color: #666;
    margin-top: 10px
}

.author-page .author-main-info .author-names span {
    display: inline-block;
    min-width: 120px
}

.author-page .author-main-info hr {
    margin-top: 10px;
    margin-bottom: 10px
}

.author-page .author-main-info p {
    color: #777;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 0
}

.author-page .author-stats .stats {
    background-color: #FFF;
    padding: 20px;
    font-size: 14px;
    border: 1px solid #dedede;
    margin-bottom: 20px;
    text-align: center;
}

.author-page .author-stats .stats span {
    display: block;
    font-size: 50px;
    margin-top: 10px
}

.author-page .author-posts-title {
    margin: 0 0 20px;
    background-color: #e2e2e2;
    padding: 20px 30px;
    font-weight: bold;
    color: #717171
}

.author-page .author-posts {
    padding: 20px;
    background-color: #FFF;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #e4e4e4
}

.author-page .author-posts img {
    width: 160px
}

.author-page .author-posts h3 {
    margin: 10px 0 5px;
    font-weight: bold;
}

.author-page .author-posts .post-date,
.author-page .author-posts .post-comments {
    font-size: 12px;
    color: #888
}

.author-page .author-posts .post-content {
    color: #6b6b6b;
    margin-top: 5px
}

.author-page .author-posts .post-content p {
    margin: 0
}

/* End Author Page */